/* universal selector for full */
*{
    background-color: gray;

}
/* element selector */

h2{
    color: palevioletred;
    font-style: italic;
    background-color: blue;
    font-weight: 500;
    font-size: 30px;
}
/* id selector */

input{
    border-radius: 2px solid black;
    width: 100px;
    height: 20px;

}
/* class selector */
.btn{

}
.HTML{
    text-align: right ;
    text-decoration: wavy;
   text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    font-weight: 200px;
    color: brown;
    border: 2px solid black;
    border-radius: 3px;
}

